* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(208, 100%, 97%);
  list-style: none;
  text-decoration: none;
  font-family: 'Wix Madefor Display', sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: hsl(180, 1%, 23%);
}

main {
  position: absolute;
  left: 20%;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 30%;
}

.caja-principal {
  width: 100%;
  text-align: center;
}

.caja-principal h2 {
  font-size: 1.6rem;
  font-weight: normal;
  padding-bottom: 2rem;
}

.caja-chat {
  width: 100%;
  height: 7vh;
  background-color: hsl(0, 0%, 14%);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1%;
  gap: 0.6rem;
}

.caja-chat input {
  width: 90%;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.boton-mas {
  width: 2rem;
  height: 2rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
}

.boton-enviar {
  width: 3rem;
  height: 3rem;
  background-color: hsl(214, 46%, 30%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50%;
}